

.filter{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .filterBlock{
    width: 80%;
    display: flex;
    justify-content: space-between;
    .filterBtn{
      cursor: pointer;
      width: 30%;
      height: 40px;
      border: 0;
      background-color: #218b8f;
    }
  }
  button{
    border-radius: 4px!important;
  }
}